name: AUto Tag

on:
    pull_request:
        types: [closed]
jobs:
    tag:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@master
                with:
                    fetch-depth: 0
            -   name: Bump version and push tag
                uses: RueLaLa/auto-tagger@master
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    GITHUB_PR_NUMBER: ${{ github.event.number }}
