name: Test Docker Image CI

on:
  pull_request:
    branches: [ main ]
  release:
    types: [ created ]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
    - name: Build the Docker image
      uses: actions/checkout@v4
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
